:root {
  --main-color: #d14d72;
  --bg-color: #ffabab;
  --second-color: rgba(206, 197, 197, 0.171);
  --progress-bar-color: #cfd8dc;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: rgb(0, 0, 0);
  min-height: 3000px;
  background-color: var(--bg-color);
  min-height: 9000px;
}

/* navbar */
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--main-color);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: var(--main-color);
}

.change .bar2 {
  opacity: 0;
  background-color: var(--main-color);
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: var(--main-color);
}

/* wraper */

.wrapper {
  z-index: 99999;
  width: auto;

  /* left: 0;
  right: 0; */
}

.container-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  margin: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.4rem 7%;
  border-bottom: var(--main-color);
  z-index: 9999;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

nav .brand a {
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 550;
  color: var(--main-color);
}
nav .brand a span {
  color: #fff;
  font-weight: 500;
  font-style: italic;
}

.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  color: var(--main-color);
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  visibility: hidden;
}

.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}

nav ul {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transition: 0.5s;
  align-items: flex-start;
  flex-direction: column;
}

nav ul.change {
  right: 0;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  padding: 20px 15px;
}

nav ul li a {
  margin-top: 100px;
  color: var(--main-color);
  font-size: 1.6rem;
  text-decoration: none;
}

/* section home style */
.home .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 720px;
  padding-top: 300px;
}

.home button {
  background-color: var(--main-color);
}

.splide {
  width: 30%;
}

.splide__slide {
  color: var(--main-color);
}

.splide__slide img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  padding: 10px;
  border-radius: 10%;
}

.main {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #fff;
  padding-top: 10px;
  font-size: 2rem;
}

.loader {
  width: 112px;
  height: 112px;
  margin-bottom: 100px;
}

.box1,
.box2,
.box3 {
  border: 16px solid var(--main-color);
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

.main span {
  color: var(--main-color);
}

.main button {
  padding: 15px 30px;
  font-weight: bold;
  width: 20vh;
  margin-top: 1rem;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  background: var(--bg-color);
  color: var(--main-color);
  box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
}

.main button:hover {
  animation: a 0.5s 1 linear;
}

@keyframes a {
  0% {
    transform: scale(0.7, 1.3);
  }

  25% {
    transform: scale(1.3, 0.7);
  }

  50% {
    transform: scale(0.7, 1.3);
  }

  75% {
    transform: scale(1.3, 0.7);
  }

  100% {
    transform: scale(1, 1);
  }
}
/* gelary style */
.galery {
  padding: 10px;
  max-width: auto;
  margin: 0;
  background-color: var(--bg-color);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}
.v-strecth {
  grid-row: span 2;
}
.h-strecth {
  grid-column: span 2;
}
.big-strecth {
  grid-row: span 2;
  grid-column: span 2;
}
.galery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end galery */

/* about style */
.about,
.project,
#galery {
  padding: 8rem 7% 1.4rem;
  margin-top: 25rem;
}

#galery h2,
.project h2 {
  color: var(--main-color);
  text-align: left;
  font-size: 2.6rem;
  margin-bottom: 1.4rem;
}

/* /end about */

/* project style */
.project {
  color: var(--main-color);
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
  .splide__slide img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    padding: 10px;
    border-radius: 10%;
  }
}
/* .about .content img {
  width: 100%;
  object-fit: cover;
  padding: 5vh 10px;
} */

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .v-strecth {
    grid-row: span 1;
  }
  .h-strecth {
    grid-column: span 1;
  }
  .big-strecth {
    grid-row: span 1;
    grid-column: span 1;
  }

  #menu {
    display: inline-block;
    padding: 100px;
    min-width: 400px;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(255, 0, 0);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .nabvar a {
    color: #000;
    display: flex;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    flex-wrap: wrap;
  }

  .header .navbar a::after {
    transform-origin: 0 0;
  }

  .header .navbar a:hover::after {
    transform: scaleX(0.2);
  }

  .home .row {
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px;
  }

  .home .main {
    flex-wrap: wrap;
    align-items: center;
  }

  .splide {
    width: 100%;
  }

  .splide__slide {
    color: var(--main-color);
  }

  .splide__slide img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 10px;
    border-radius: 10%;
  }

  .about .content,
  .content p {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
  }

  .about .content img {
    width: 100%;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
  }

  .about .row .content {
    padding: 0;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

@media screen and (min-width: 768px) {
  bg-sidebar.change {
    right: 0;
    visibility: hidden;
    display: none;
  }

  .burger {
    display: none;
  }

  nav {
    position: relative;
  }

  nav ul {
    display: flex;
    position: relative;
    background-color: unset;
    top: unset;
    bottom: unset;
    right: unset;
    width: unset;
    flex-direction: row;
  }

  nav ul li {
    padding: 10px 15px;
  }

  nav ul li :hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    color: var(--main-color);
    background-color: black;
    transform: translateY(20px);
  }

  nav ul li a {
    color: var(--main-color);
    font-size: 1.1rem;
    transition: 0.2s;
  }
  nav ul li a:hover {
    color: #fff;
  }
}

@media screen and (min-width: 1366px) {
  .container-flex {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(143, 255, 1, 0.3);
    align-items: center;
  }
}
